<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="cart-container">
        <% if (prods.length > 0) { %>
            <div class="cart">
                <% for (let p of prods) { %>
                    <article class="cart-item">
                            <h1 class="cart-product__title"><%= p.product.title %></h1>
                        
                            <h2 class="product__price">$<%= p.product.price %></h2>
                            <h2 class="product__quantity"><%= p.quantity %></h2>

                            <form action="/cart/delete/<%= p.product._id %>" method="post">
                                <button class="delete-btn">Delete</button>
                            </form>
                    </article>
                  
                <% } %>
            </div>
            <form action="/order" method="post">
                <button class="order-btn">Order Now</button>
            </form>
        <% } else { %>
            <h1>No Products in cart!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>