<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length <= 0) { %>
            <h1>Nothing there!</h1>
            <%} else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="order_item">
                            <h3>Order - # <%= order._id %></h3>
                            <ul class="order_products">
                                <% order.products.forEach(i => { %>
                                    <li class="orders_products-item"><%= i.product.title %> <strong>(<%= i.quantity %>)</strong></li>
                                <%});%>
                            </ul>
                        </li>
                   <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>